*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    color: beige;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}
body{
    width: 100vw;
    background-image: url(image/alex-knight-Ys-DBJeX0nE-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Edu-logo{
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    margin-left: 50px;
}
.fa-house{
    font-size: 15px;
    color: beige;
    margin: 50px;
    background-color: rgb(9, 20, 83);;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}
.fa-house:hover{
    background-color: orangered;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img1{
    height: 30vh;
    width: 65vw;
    border-radius: 20px;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}
.img2{
    height: 10vh;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 1rem;
    animation: slideFromLeft 2s  ease forwards;
}
@keyframes slideFromLeft{
    0%{
        opacity:0;
         transform: translate(100%);
    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
.Engineering{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    width: 80%;
}
.det{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
}
#bor{
    border: solid black 2px;
    padding: 20px;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

@media screen and (min-width:750px) {
    .main{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction: row;
        
    }
    .left{
        width: 50%;
    }
    .right{
        width: 50%;
        margin-right: 30px;
        gap: 1rem;
    }
    .img1{
        height: 60vh;
        width: 70%;
        margin-bottom: 80px;
    }
    .Edu-logo{
        font-size: 40px;
    }
}
.h1,h2,h3{
    font-size: 20px;
    font-weight: bold;
}